:root {
  --hex-fill: '#2ECC40';
}

h1 {
  font-family: 'Lobster', cursive;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#instructions {
  font-size: '14pt';
  word-wrap: break-word;
}

#board_container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

#board {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-decoration: underline;
  width: 50%;
  font-size: 18pt;
}

.userInput {
  clear: both;
  text-align: center;
  border-radius: 25px;
}

.spacer {
  margin-top: 20px;
}

/* CSS styling for Hexagon adapted from https://jtauber.github.io/articles/css-hexagon.html */
.hexTop {
  float: left;
  border-right: 30px solid var(--hex-fill);
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}

.hexCenter {
  float: left;
  width: 60px;
  height: 104px;
  background-color: var(--hex-fill);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24pt;
}

.hexBottom {
  float: left;
  border-left: 30px solid var(--hex-fill);
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}
